body{
    display: flex;
    background-color: #1f0e1c;
    flex-direction: column;
    align-items: center;
    color:#f5edba;
    font-family: 'Open Sans',sans-serif;
    font-size:100%
}

#menu{
    display:flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

#menu_centre{
    display: flex;
    justify-content: center;
    width: 100%;
}

#menu_right{
    display: flex;
    align-items: center;
    font-size: 200%;
}

#menu_right :hover{
    color: #fab534;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_img{
    display: flex;
    justify-content: center;
}

#info_img img{
    width: 50%;
    height: auto;
}

.titre{
    font-family: 'Staatliches',sans-serif;
    font-size: 300%;
}

.texte{
    padding-bottom: 3%;
}

#text{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
}

a{
    padding-bottom: 1%;
    color:#f5edba;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .button {
    margin-top:2%;
    padding:1% ;
    font-family: 'Staatliches',sans-serif;
    font-size: 200%;
    height: 50%;
    width: auto;
    color:#1f0e1c;
    transition-duration: 0.4s;
    background-color: #f5edba;
    text-decoration: none;
    border-radius: 5%;
  }

  .button:hover {
    background-color: #fab534;
  }

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    font-size: 100%;
}
