body{
    display: flex;
    background-color: #1f0e1c;
    flex-direction: column;
    align-items: center;
    color:#f5edba;
    padding-top: 1%;
    font-family: 'Open Sans',sans-serif;
}
a{
    color:#f5edba;
    padding:1%;
}

div{
    display: flex;
    padding-left: 10%;
    padding-right:10%;
    align-items: center;
    flex-direction: column;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
