body{
    display: flex;
    background-color: #1f0e1c;
    flex-direction: column;
    align-items: center;
    color:#f5edba;
    font-family: 'Open Sans',sans-serif;
}

.titre{
    font-family: 'Staatliches',sans-serif;
    font-size: 300%;
}

.texte{
    padding-bottom: 3%;
}

a{
    padding-bottom: 1%;
    color:#f5edba;
}

div{
    display: flex;
    padding-left: 10%;
    padding-right:10%;
    align-items: center;
    flex-direction: column;
}

img{
    width:1000px;
    height:auto;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .button {
    margin-top:2%;
    padding:0.5% ;
    font-family: 'Staatliches',sans-serif;
    font-size: 200%;
    height: 50%;
    width: auto;
    color:#1f0e1c;
    transition-duration: 0.4s;
    background-color: #f5edba;
    text-decoration: none;
    border-radius: 10%;
  }

  .button:hover {
    background-color: #fab534;
  }

footer{
    padding-top: 10%;
}
